<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <button
        class="btn btn-primary"
        (click)="onlyOdd = !onlyOdd">Only show odd numbers
      </button>
      <br><br>
      <ul class="list-group">
        <div *ngIf="onlyOdd">
          <li
            class="list-group-item"
            *ngFor="let number of oddNumbers"
            [ngClass]="{odd: number % 2 !== 0}"
            [ngStyle]="{backgroundColor: number % 2 !== 0 ? 'yellow' : 'transparent'}">
            {{ number }}
          </li>
        </div>
        <div *ngIf="!onlyOdd">
          <li
            class="list-group-item"
            *ngFor="let number of evenNumbers"
            [ngClass]="{odd: number % 2 !== 0}"
            [ngStyle]="{backgroundColor: number % 2 !== 0 ? 'yellow' : 'transparent'}">
            {{ number }}
          </li>
        </div>
        <ng-template [ngIf]="!onlyOdd">
          <div>
            <li
              class="list-group-item"
              *ngFor="let number of evenNumbers"
              [ngClass]="{odd: number % 2 !== 0}"
              [ngStyle]="{backgroundColor: number % 2 !== 0 ? 'yellow' : 'transparent'}">
              {{ number }}
            </li>
          </div>
        </ng-template>
      </ul>
      <p appBasicHighlight>Style me with basic directive</p>
      <p [appBetterHighlight]="'red'" defaultColor="yellow">Style me with better directive</p>
    </div>
  </div>
</div>
